name: CPU Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r cpu_requirements.txt
      - name: Install optimum-benchmark
        run: |
          pip install -e .[test]
      - name: Run test
        run: pytest -k "cpu"
