name: CPU OpenVINO Tests

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run_cpu_openvino_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Install requirements
        run: |
          pip install --upgrade pip
          pip install -e .[testing,openvino,diffusers]

      - name: Run tests
        run: |
          pytest -k "cli and cpu and openvino"
