name: CLI ROCm Pytorch Single-GPU Tests

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_image_and_run_cli_rocm_pytorch_single_gpu_tests:
    strategy:
      fail-fast: false
      matrix:
        image:
          [{ torch_rocm: rocm5.7, torch_pre_release: 0, rocm_version: 5.7.1 }]

    runs-on: [amd-gpu]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build image
        run: docker build
          --file docker/rocm.dockerfile
          --build-arg USER_ID=$(id -u)
          --build-arg GROUP_ID=$(id -g)
          --build-arg TORCH_ROCM=${{ matrix.image.torch_rocm }}
          --build-arg TORCH_PRE_RELEASE=${{ matrix.image.torch_pre_release }}
          --build-arg ROCM_VERSION=${{ matrix.image.rocm_version }}
          --tag opt-bench-rocm:${{ matrix.image.rocm_version }}
          .

      - name: Run tests
        run: docker run
          --rm
          --pid host
          --shm-size 64G
          --env USE_ROCM="1"
          --device /dev/kfd
          --device /dev/dri/renderD132
          --volume $(pwd):/workspace/optimum-benchmark
          --workdir /workspace/optimum-benchmark
          --entrypoint /bin/bash
          opt-bench-rocm:${{ matrix.image.rocm_version }}
          -c "pip install requests &&
          pip install -e .[testing,diffusers,timm,peft,autoawq] &&
          pytest -k 'cli and cuda and pytorch and not (dp or ddp or device_map or deepspeed_inferene) and not (bnb or gptq)' -x"
