name: Update LLM Perf Benchmarks - Intel PyTorch

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - labeled
      - unlabeled

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

env:
  IMAGE: ghcr.io/huggingface/optimum-benchmark:latest-cpu

jobs:
  run_benchmarks:
    if: ${{
      (github.event_name == 'push') ||
      (github.event_name == 'workflow_dispatch') ||
      contains( github.event.pull_request.labels.*.name, 'leaderboard')}}
    strategy:
      fail-fast: false
      matrix:
        subset: [unquantized]
        machine:
          [{ name: 32vCPU-C7i, runs-on: { group: "aws-c7i-8xlarge-plus" } }]

    runs-on: ${{ matrix.machine.runs-on }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run benchmarks
        uses: addnab/docker-run-action@v3
        env:
          SUBSET: ${{ matrix.subset }}
          MACHINE: ${{ matrix.machine.name }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        with:
          image: ${{ env.IMAGE }}
          options: |
            --rm
            --shm-size 64G
            --env SUBSET
            --env MACHINE
            --env HF_TOKEN
            --env MKL_THREADING_LAYER=GNU
            --env HF_HUB_ENABLE_HF_TRANSFER=1
            --volume ${{ github.workspace }}:/workspace
            --workdir /workspace
          run: |
            pip install packaging && pip install einops scipy optimum codecarbon
            pip install -U transformers huggingface_hub[hf_transfer]
            pip install -e .
            python llm_perf/benchmark_runners/update_llm_perf_cpu_pytorch.py
